/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
body {
    background: #364450;
}

section {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

section.lt {
    background: #F1E7DC;
}

div.sectionBreak {
    position: relative;
    width: 100%;
    height: 120px;
    background: #F1E7DC;
    -webkit-clip-path: url(#clipPathSectTopLg);
            clip-path: url(#clipPathSectTopLg);
}

.imageWrap {
    position: relative;
}

.badge {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 120px;
    height: 120px;
    background: #f76c5e;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); 
    -webkit-animation: badgeBob 2s alternate infinite ease-in-out; 
            animation: badgeBob 2s alternate infinite ease-in-out;
    -webkit-clip-path: path("M61.8,118.1C28.2,117.6,1.5,93.4,2,64.1C2.6,28.6,26.8,1.2,57.7,1.9c33.8,0.8,61.8,23.1,60.2,60 C116.6,92.6,93.7,118.8,61.8,118.1z");
            clip-path: path("M61.8,118.1C28.2,117.6,1.5,93.4,2,64.1C2.6,28.6,26.8,1.2,57.7,1.9c33.8,0.8,61.8,23.1,60.2,60 C116.6,92.6,93.7,118.8,61.8,118.1z");
}

img.clip {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
}

img.clipHero {
    width: 100vw;
    height: 100vh;
    -webkit-clip-path: url(#clipPathHeroMob);
            clip-path: url(#clipPathHeroMob);
}

img.clipCirc {
    width: 90vw;
    height: 90vw;
    -webkit-clip-path: url(#clipPathCirc);
            clip-path: url(#clipPathCirc);
}

img.clipRect {
    width: 90vw;
    height: 60vw;
    -o-object-position: center top;
       object-position: center top;
    -webkit-clip-path: url(#clipPathRect);
            clip-path: url(#clipPathRect);
}

.blobMask {
    position: absolute;
}

@media only screen and (min-width : 640px) {
    .badge {
        top: 2.5rem;
        right: 2.5rem;
    }
} 

@media only screen and (min-width : 768px) {
    .badge {
        top: 2.5rem;
        right: 2.5rem;
        width: 160px;
        height: 160px;
        -webkit-clip-path: path("M82.4,158.2C37.2,157.4,1.4,125,2,85.5C2.8,37.8,35.3,0.9,76.9,1.8c45.5,1,83.1,31,81,80.7 C156.2,123.9,125.3,159.1,82.4,158.2z");
                clip-path: path("M82.4,158.2C37.2,157.4,1.4,125,2,85.5C2.8,37.8,35.3,0.9,76.9,1.8c45.5,1,83.1,31,81,80.7 C156.2,123.9,125.3,159.1,82.4,158.2z");
    }
} 

@media only screen and (min-width : 960px) { 
    div.sectionBreak {
        height: 240px;
    }
    .badge {
        top: 2rem;
        right: 2rem;
        width: 160px;
        height: 160px;
        -webkit-clip-path: path("M82.4,158.2C37.2,157.4,1.4,125,2,85.5C2.8,37.8,35.3,0.9,76.9,1.8c45.5,1,83.1,31,81,80.7 C156.2,123.9,125.3,159.1,82.4,158.2z");
                clip-path: path("M82.4,158.2C37.2,157.4,1.4,125,2,85.5C2.8,37.8,35.3,0.9,76.9,1.8c45.5,1,83.1,31,81,80.7 C156.2,123.9,125.3,159.1,82.4,158.2z");
    }
    img.clipHero {
        -webkit-clip-path: url(#clipPathHeroDesk);
                clip-path: url(#clipPathHeroDesk);
    }
    img.clipCirc {
        width: 50vw;
        height: 50vw;
    }
    img.clipRect {
        width: 80vw;
        height: 54vw;
    }
}


@media only screen and (min-width : 1240px) {
    .badge {
        top: 3.5rem;
        right: 3.5rem;
    }
} 

@-webkit-keyframes badgeBob {
    0% {
        -webkit-transform: translate(.5rem, -.5rem);
                transform: translate(.5rem, -.5rem);
    }
    100% {
        -webkit-transform: translate(-.5rem, .5rem);
                transform: translate(-.5rem, .5rem);
    }
} 

@keyframes badgeBob {
    0% {
        -webkit-transform: translate(.5rem, -.5rem);
                transform: translate(.5rem, -.5rem);
    }
    100% {
        -webkit-transform: translate(-.5rem, .5rem);
                transform: translate(-.5rem, .5rem);
    }
}